/* global style */
.text-sp {
  color: var(--secondery-color) !important;
}
.text-sp-2 {
  color: var(--primary-color);
}

:root {
  --primary-color: #289168;
  --secondery-color: #53dca6;
  --text-color: #383838;
  --boxs-color: #2e2e2e;
  --light-color: #fff;
}

/* start loading layer style */
.loadingPage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2e2e2e;
  z-index: 99999999999999;
  transition: all .5s ease;
}
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before,
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #fff;
  animation: prixClipFix 2s linear infinite;
}
.loader::after {
  border-color: var(--primary-color);
  animation: prixClipFix 2s linear infinite, rotate 0.5s linear infinite reverse;
  inset: 6px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
/* end loading layer style */
/* start nav style */
#nav {
  position: relative;
  width: 100% !important;
  padding-top: 0px !important;
}

.logo {
  width: 70px;
}

.nav {
  width: 100% !important;
  height: 30px !important;
  background-color: var(--text-color);
  border: var(--primary-color) 2px solid;
  border-radius: 4px;
  gap: 10%;
}

.nav .nav-link {
  padding: 0 !important;
  color: var(--light-color);
  font-size: 0.9rem;
}
/* end nav style */

/* start home section style */

.home-content p {
  color: var(--light-color);
  padding: 0 4.3%;
  height: fit-content !important;

  width: 100% !important;
  font-size: 0.9rem;
  line-height: 1.7;
}
.hero-img {
  width: 100%;
  position: relative;
  bottom: -7% !important;
  right: 0% !important;
  z-index: 10;
}

.download-app img {
  width: 110px;
}
/* end home section style */

/* start information section */
.title-shape {
  position: relative;
  background-image: linear-gradient(to right, #a6a6a6, #2ebd85);
  color: var(--light-color);
  width: 70%;
}
.title-shape h6 {
  font-size: 14px;
  margin: 0 !important;
}
.title-shape::after {
  content: "";
  position: absolute;
  width: 90px;
  height: 115%;
  background: var(--light-color);
  left: -15%;
  transform: rotate(-45deg);
  top: -40%;
  z-index: 3;
}

.information-content {
  height: 400px !important;
  overflow: hidden;
}

#info-btn {
  left: 10px;
  bottom: -50px;
  z-index: 111;
}
.info-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: linear-gradient(to top, #ffffffa0 40%, transparent);
  opacity: 1;
  z-index: 1;
}
.info-sub-title {
  font-size: 14px !important;
  font-weight: bold !important;
}
.info-content {
  font-size: 12px;
}
.info-sp {
  font-size: 14px;
}
/* end information section */

/* start subscription section */
.sub-title {
  font-size: 14px !important;
  font-weight: 600;
  margin-bottom: 15px !important;
}
.sub-p {
  font-size: 14px !important;
  font-weight: 400;
  margin-bottom: 15px !important;
}
.get-price-sub {
  font-size: 16px !important;
  font-weight: 600;
  margin-bottom: 15px !important;
}
.price-sp {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px !important;
}
.download-app-form-sub img {
  width: 150px;
}
.download-app-form-sub {
  display: flex;
  justify-content: center;
}

.mobile-video-col {
  height: 300px !important;
}

.mobile-video {
  width: 60%;
  transform: translateY(30%);
}
/* end subscription section */
/* start uses section */
#uses {
  margin-top: 250px !important;
}

.use-card {
  padding: 10px;
  width: 70%;
}
.use-p {
  font-size: 13px !important;
}
.uses-img {
  width: 300px;
}
/* end uses section */

@media screen and (min-width: 425px) {
  #uses {
    margin-top: 270px !important;
  }
  .title-shape {
    width: 50%;
  }

  .title-shape::after {
    left: -20%;
  }
}
@media screen and (min-width: 768px) {
  * {
    font-size: 1rem !important;
  }
  .home-content-col {
    width: 60%;
  }

  .download-app-col {
    flex-direction: row !important;
    width: 50% !important;
    padding: 0 5% !important;
    gap: 7% !important;
    margin-bottom: 15px;
  }
  .hero-img-col {
    width: 40%;
    height: 100%;
  }
  .hero-img-container {
    width: 100%;
  }
  .hero-img {
    width: 100% !important;
    bottom: -23% !important;
    right: -10% !important;
  }
  .title-shape {
    position: relative;
    background-image: linear-gradient(to right, #a6a6a6, #2ebd85);
    color: var(--light-color);
    width: 50%;
    font-size: 12px;
  }
  .title-shape::after {
    left: -10%;
    top: -40%;
  }
  #information .container {
    padding: 0 !important;
  }
  .mobile-video-col {
    height: 250px !important;
  }

  .mobile-video {
    width: 100%;
    transform: translateY(10%);
  }
  .information-content {
    height: 450px !important;
  }
  .uses-img {
    width: 350px !important;
  }
  .uses-cards {
    align-items: start !important;
  }
  .use-card:nth-child(1) {
    transform: translateX(-50%);
  }
  .use-card:nth-child(2) {
    transform: translateX(-30%);
  }
  .use-card:nth-child(3) {
    transform: translateX(-10%);
  }
  .use-card:nth-child(4) {
    transform: translateX(-30%);
  }
  .use-card:nth-child(5) {
    transform: translateX(-50%);
  }
  .use-card:nth-child(6) {
    transform: translateX(-70%);
  }
  .uses-img-col {
    justify-content: center !important;
    align-items: start !important;
    padding: 0 !important;
  }
}

@media screen and (min-width: 1024px) {
  * {
    font-size: 1.2rem !important;
  }
  .navbar-brand {
    width: 20% !important;
    margin: 0 !important;
  }
  .logo {
    width: 70%;
  }
  .nav {
    width: 65% !important;
    height: 50px !important;

    border-radius: 4px;
    gap: 10%;
  }
  .download-app img {
    width: 150px;
  }
  .download-app {
    margin-bottom: 20px !important;
  }
  .hero-img {
    width: 100% !important;
    bottom: -26% !important;
  }

  .title-shape h6 {
    font-size: 30px !important;
  }
  .title-shape::after {
    width: 130px;
    left: -10%;
    top: -20%;
    z-index: 3;
  }
  .info-sub-title {
    font-size: 22px !important;
  }
  .info-content {
    font-size: 22px !important;
  }
  .sub-title {
    font-size: 30px !important;
    font-weight: 600;
  }
  .sub-p {
    font-size: 20px !important;
    font-weight: 400;
  }
  .get-price-sub {
    font-size: 20px !important;
    font-weight: 600;
  }
  .price-sp {
    font-size: 20px;
    font-weight: 400;
  }
  .information-content {
    height: 600px !important;
    overflow: hidden;
  }
  .use-card {
    width: 60%;
    padding: 20px 10px;
  }
  .uses-img-col {
    justify-content: start !important;
    align-items: start !important;
    padding: 0 !important;
  }
  .uses-img-col img {
    width: 450px !important;
  }
}

@media screen and (min-width: 1440px) {
  .information-content {
    height: 540px !important;
    overflow: hidden;
  }
  .uses-img-col {
    justify-content: center !important;
    align-items: start !important;
  }
  .uses-img {
    width: 400px !important;
  }
  .title-shape::after {
    height: 110% !important;
    width: 140px;
  }
  #home {
    height: 100vh !important;
  }
  .hero-img-container {
    transform: translateY(-20%);
  }
  .download-app-col {
    transform: translateY(-200%);
  }
  .use-card {
    width: 45%;
    padding: 20px 10px;
  }
  .use-p {
    font-size: 16px !important;
  }
  .uses-img-col {
    justify-content: start !important;
    align-items: start !important;
    padding: 0 !important;
  }
  .uses-img-col img {
    width: 500px !important;
  }
  .use-card:nth-child(1) {
    transform: translateX(-80%);
  }
  .use-card:nth-child(2) {
    transform: translateX(-70%);
  }
  .use-card:nth-child(3) {
    transform: translateX(-40%);
  }
  .use-card:nth-child(4) {
    transform: translateX(-70%);
  }
  .use-card:nth-child(5) {
    transform: translateX(-80%);
  }
  .use-card:nth-child(6) {
    transform: translateX(-100%);
  }
}
